---
layout: default
type: home
title: 
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->


<p>
I'm a software engineer with an aspiration for video game development. I graduated Summa Cum Laude 
from DePaul University with a B.S. in Computer Science and an emphasis in Game Systems. 
With 5 years of C family experience throughout school, I mainly focus on 
C and C++ development through games and embedded system projects.
</p>
<p>

</p>


{% include expertise.html %}



{% include projects.html %}

</p>
